<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sourcecode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateName</display-name>
    <servlet-name>ValidateName</servlet-name>
    <servlet-class>ValidateName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateName</servlet-name>
    <url-pattern>/ValidateName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Push</display-name>
    <servlet-name>Push</servlet-name>
    <servlet-class>Push</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Push</servlet-name>
    <url-pattern>/Push</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rate</display-name>
    <servlet-name>Rate</servlet-name>
    <servlet-class>Rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rate</servlet-name>
    <url-pattern>/Rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WatchedMovies</display-name>
    <servlet-name>WatchedMovies</servlet-name>
    <servlet-class>WatchedMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WatchedMovies</servlet-name>
    <url-pattern>/WatchedMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieWatched</display-name>
    <servlet-name>MovieWatched</servlet-name>
    <servlet-class>MovieWatched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieWatched</servlet-name>
    <url-pattern>/MovieWatched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMoviesWatched</display-name>
    <servlet-name>ListMoviesWatched</servlet-name>
    <servlet-class>ListMoviesWatched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMoviesWatched</servlet-name>
    <url-pattern>/ListMoviesWatched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBean</display-name>
    <servlet-name>UserBean</servlet-name>
    <servlet-class>UserBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBean</servlet-name>
    <url-pattern>/UserBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PushIt</display-name>
    <servlet-name>PushIt</servlet-name>
    <servlet-class>PushIt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushIt</servlet-name>
    <url-pattern>/PushIt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Watched</display-name>
    <servlet-name>Watched</servlet-name>
    <servlet-class>Watched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Watched</servlet-name>
    <url-pattern>/Watched</url-pattern>
  </servlet-mapping>
</web-app>